[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose = "*"
coverage = "*"
tox = "*"
tox-pipenv = "*"

[packages]
attrs = "*"
django = "~=1.11.29"
six = "*"

[requires]
# python_version = "2.7"
