<html>
    <head>
        <title>Books Buyer (tm)</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    </head>
    <body>
        <h1>Book buyer</h1>
        <a href="/">Home - books</a>
        <a href="{% url 'library-list' %}">Libraries</a>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p class="{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </body>
</html>

